<?xml version="1.0" ?>

<model>
    <name> lar_floor </name>
    <version> 1.1 </version>
    <sdf version = "1.6"> model.sdf </sdf>
    <author>
        <name>Erick Suzart</name>
        <email>ericksuzart@gmail.com</email>
    </author>
    <description>
        A model which describes the the floor of robotics laboratory in UFBA
    </description>
</model>