<?xml version="1.0" ?>

<model>
    <name> lar </name>
    <version> 2.0 </version>
    <sdf version = "1.6"> model.sdf </sdf>
    <author>
        <name>Erick Suzart</name>
        <email>ericksuzart@gmail.com</email>
    </author>

    <description>
        The robotics laboratory in UFBA
    </description>
</model>