<?xml version="1.0" ?>

<model>
    <name> lar_table_great </name>
    <version> 1.0 </version>
    <sdf version = "1.6"> model.sdf </sdf>
    <author>
        <name>Erick Suzart</name>
        <email>ericksuzart@gmail.com</email>
    </author>
    <description>
        A model which describes the great table of LAR (laboratory of robotics)
    </description>
</model>